:root {
  --primary: #00897b;
}

* {
  font-family: Garamond, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #11191f;
  color: #fff;
}

.react-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  min-height: max-content;
  background: black;
  text-align: center;
  padding: 10px;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
  padding-top: 32px;
}

h1, h6 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h2 {
  margin: 0%;
  padding: 5%;
  color: #fff;
}

h3 {
  margin: auto;
  color: #fff;
  font-size: 20px;
}

h4 {
  margin-top: 5%;
  color: #fff;
}

h5 {
  margin: 32px 0;
  color: #fff;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
}

.heading-center {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0%;
  overflow: hidden;
}

ul {
  display: inline-block;
  text-align: center;
  padding: 0%;
}

li {
  overflow: hidden;
  padding: 1%;
  margin: 1%;
}

article {
  background-color: #11191f;
}

.left-align {
  text-align: left;
}

img {
  object-fit: cover;
}

.proj-photo {
  border: solid ;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
}

.headshot {
  display: flex;
  align-self: center;
  border: solid ;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

blockquote {
  color: #fff;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 90%; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.emoji-large {
  font-size: 5rem; 
}

/* transition CSS */

.fadeIn {
  animation: 0.7s fadeIn forwards;
}

.fadeOut {
  animation: 0.7s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}